#container_help_first_creation {
  width: 600px;
}
#container_help_first_participation {
  width: 700px;
  height: 350px;
}

#container_help_first_creation, #container_help_first_participation {

  .form_wrap {
    padding: 30px 30px;
  }

  .buttons_group {
    margin-top: 15px;
  }
}