<p>Hi {{ first_name }},</p>

<p>On behalf of all of the members of the <a href="www.facebook.com/unishared">community</a>, I wish you a Happy New Year. Hope it will be full of learning and people discoveries, overcoming social, economic or geographic limitations.</p>

<p>To help you with this, we are about to kickstart a <a href="http://unishared.com/?{{ ga_campaign }}">UniShared</a> hotspot in the San Francisco Bay Area, with the support of the
<a href="imaginek12.com">Imagine K-12</a> accelerator program. It will enable us to keep improving our global platform, connecting local communities all over the world.</p>

<p>If you haven’t yet, you can try to <a href="http://unishared.com/class/create/?{{ ga_campaign }}">create a collaborative</a> document or
<a href="http://unishared.com/profile/?view=all_classes&{{ ga_campaign }}">participate to existing ones</a>. To make everyone's learning more efficient, collaborative and open in 2013.</p>

<p>What about for example:
    <ul>
        <li><a href="http://unishared.com/class/1tw7WIglDzDVvF2hTTCWjzInkWs4krG9EszQu7UhxyzI?{{ ga_campaign }}">"Collaborative consumption"</a> by the
            <a href="http://unishared.com/ouishare/?{{ ga_campaign }}">OuiShare crew</a></li>
        <li><a href="http://unishared.com/class/1_0vd-MiJwNfDtRj6Ed0dOvs08W17vygxVa8r0gTsB-I?{{ ga_campaign }}">"Continuous Innovation"</a> from IESEG by
            <a href="http://unishared.com/profile/119?{{ ga_campaign }}">Adrien</a>,
            <a href="http://unishared.com/profile/617?{{ ga_campaign }}">Vincent</a>,
            <a href="http://unishared.com/profile/1524?{{ ga_campaign }}">Jeanne-Marie</a>,
            <a href="http://unishared.com/profile/2091?{{ ga_campaign }}">Jayajanani</a> and
            <a href="http://unishared.com/profile/2094?{{ ga_campaign }}">Philippe</a></li>
        <li><a href="http://unishared.com/class/16baPWS7TJcwSElsqZTx3yf6Kh1LbSupgtpyx1ZHz1Qg?{{ ga_campaign }}">"Creating shared value at the base of the pyramid in developing countries"</a> by the <a
                href="http://unishared.com/convergences?{{ ga_campaign }}">MakeSense Crew</a></li>
        <li><a href="http://unishared.com/profile/?view=all_classes&{{ ga_campaign }}">All classes</a></li>
    </ul>
</p>

<p>And tell us what you think about it because we're learning too :).</p>

<p>
Cheers,<br>
-- Clément & the UniShared team <br>
<a href="www.facebook.com/unishared">Facebook</a>, <a href="https://twitter.com/UniShared">Twitter</a>
</p>
