Django==1.4.3
PIL==1.1.7
South==0.7.6
boto==2.7.0
celery==3.0.12
celery-with-redis==3.0
redis==2.7.2
dj-database-url==0.2.1
django-batch-select==0.2.4
django-celery==3.0.11
django-facebook==4.0.9
nose==1.2.1
django-nose==1.1
django-pipeline==1.2.24
django-social-auth==0.7.18
django-storages==1.1.6
dnspython==1.10.0
gdata==2.0.17
google-api-python-client==1.0
pytz==2012h
sorl-thumbnail==11.12
tweepy==1.10
psycopg2==2.4.6
jsmin==2.0.2
cssmin==0.1.4
yuicompressor==2.4.7
django-s3-folder-storage==0.1
pylibmc==1.2.2
django-pylibmc-sasl==0.2.4
python-memcached==1.48
gunicorn==0.17.2
newrelic
django-require==1.0.2
django-herokuapp==0.9.10