{% extends "base_new_design.html" %}
{% load require %}
{% load staticfiles %}
{% load compressed %}
{% load thumbnail %}

{% block title %}
Create new {{ PUBLIC_DOCUMENT_MODEL_NAME }}
{% endblock %}

{% block css %}
    {% compressed_css 'create_document' %}
{% endblock %}

{% block js %}
    {% require_module 'main_modules/create_a_document' %}
    {% compressed_js 'twitter-flight' %}
{% endblock %}

{% block overlay %}
<div class="loading hide">
	<img src="{% static "images/loading.gif" %}">
</div>
{% endblock %}

{% block content %}
<div id="container" class="sign-in">
	{% csrf_token %}
	<div id="alert-error" class="alert alert-error hide" style="width: 470px;margin-left: auto;margin-right: auto;text-align:center;">
		Something went wrong while creating your {{ PUBLIC_DOCUMENT_MODEL_NAME }}, <a>please try again</a>
	</div>
	{% include "document/document_title_form.html" %}
	
	{% include "document/document_people_form.html" %}
</div>
<input id="resource_id" type="hidden">
{% endblock %}