{% extends "base_new_design.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
    <div class="wrap" style="background:#FFF; margin-top:101px; border-radius:10px; border:1px solid #CCC; margin-bottom: 30px;">
    	<div id="content-404">
    		<div id="text-404">
		        <h1>Page not found</h1>
		        <p>Sorry buddy, you're in the wrong classroom again. You can try to go back to our <a href="/">home page.</a></p>
        	</div>
    	</div>
    </div>
{% endblock %}