{% extends "base_new_design.html" %}

{% block title %}
    Oops, something went wrong
{% endblock %}

{%block content %}
    <div id="error">
        <h1 class="introducing_text">Oops, something went wrong</h1>
        <p class="well well-small">
            Sorry, but the requested page is unavailable for the moment.<br><br>
            Our team has been notified. We are already working on it! <br>
            If you need help, please <a href="mailto:clement@unishared.com">send us an email</a>.
        </p>
    </div>
{% endblock %}