{% load django_static %}

<div id="container_kkbb" class="form hide">
	<button class="close hide">&times;</button>
	<div class="alert alert-error hide"></div>
	<div class="form_wrap">
		<h2>Open the 25 best classes of the world</h2>
		<p style="text-align: center">We dream of sending five rockstar learners to their dream universities to share them with you through UniShared. Only you can make it happen by giving a few euros to follow the classes.</p>
		<h5 style="text-align: center">Few minutes before the end</h5>
		
		<button type="submit" class="btn btn-primary prev_button">Not now</button>
		<button type="submit" class="btn btn-success next_button">Contribute!</button>
	</div>
</div>