<!DOCTYPE>
<head>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" background="http://unishared.com/static/cache-forever/images/bg.1343761716.png" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;padding-top: 10px;padding-bottom: 10px;background-color: #F5F5F5;width: 100% !important;background-image:url('http://unishared.com/static/cache-forever/images/bg.1343761716.png');color: #505050;font-family: Arial;font-size: 11px;">
    	<center>
        	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" background="http://unishared.com/static/cache-forever/images/bg.1343761716.png" style="margin: 0;padding: 0;background-color: #F5F5F5;background:url('http://unishared.com/static/cache-forever/images/bg.1343761716.png');height: 100% !important;width: 100% !important;">
        	</table>
        		<tr>
        			<td>
        				<table background="#FFFFFF" width="600" cellborder="1px solid #CCCCCC "cellpadding="10" cellspacing="0" style="width:600px;margin:0;padding:0;background-color:#FFFFFF;border:1px solid #CCCCCC;border-radius:10px;">
        					<tr>
        						<td>
        							<a href="http://www.unishared.com">
        								<img style="text-align:center;margin-left: auto;margin-right: auto;width:300px;display:block;" src="http://i.imgur.com/raZSt.jpg" alt="unishared_logo">
        							</a>
        						</td>
        					</tr>
        					<tr>
        						<td>
        							<table border="0" cellpadding="20" cellspacing="0" width="100%">
                                        <tr>
                                            <td valign="top" style="border-collapse: collapse;">
                                                <div style="line-height: 150%;text-align: left;">
                                                    <h1 style="display: block;font-family: Arial;font-size: 28px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;">Hello World</h1>
                                                    <p style="text-align:left;line-height:120%;font-size:14px;">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                                	</p>
                                                </div>
											</td>
                                        </tr>
                                        <tr>
                                        	<td>
                                        		<table cellspacing="0" cellpadding="0" border="0" style="background:#EEEEEE;border-radius:5px;border:1px solid #CCCCCC;margin-left:auto;margin-right:auto;">
                                        			<tbody>
                                        				<tr> 
                                        					<td height="34" align="center" style="">
                                        						<a align="center" style="text-align:center;display:block;margin-left:auto;margin-right:auto;padding:10px;text-decoration:none;color:#3cbdee;" href="">Some useless text</a>
                                        					</td>
                                        				</tr>
                                        			</tbody>
												</table>
                                        	</td>
                                        </tr>
                                    </table>
        						</td>
        					</tr>
        				</table>
        			</td>
        		</tr>
        </center>
</body>