{% extends "base_new_design.html" %}
{% load staticfiles %}

{% block title %}
Privacy Policy
{% endblock %}

{% block css %}
<link href="{% static "css/privacy-policy.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="container_privacy">
	<h2>Collection and Use of Personal Information</h2>
	<div>
		<div>
			<strong>Effective Nov 1, 2012</strong>
			<br>
			This privacy statement describes how <strong>www.unishared.com</strong> collects
			and uses your personal information.
		</div>
		<div class="clear10"></div>

		<div id="policyShell">

			<!-- Collection and Use of Personal Information -->

			<div id="Collection">

				<div class="policyHeader2">
					
				</div>

				<p>
					Your data is used for purposes that you expect it to be used to providing services you requested. This may include providing you personalized content, features to enable you to interact with others, securing your data, and communicating about, improving, or troubleshooting the products or services being provided.
				</p>

				<p>
					We collect information some basic informations (as defined by <a href="https://developers.facebook.com/docs/reference/login/basic-info/">Facebook</a>) and your education history from you.
				</p>

				<!-- Collection -->

				<p>
					As is true of most Web sites, we automatically gather information
					about your computer such as your IP address, browser type,
					referring/exit pages, and operating system.
				</p>

				<!-- Use -->

				<p>
					We use this information to
				</p>
				<ul>
					<li>
						Respond to customer service requests
					</li>

					<li>
						Administer your account
					</li>

					<li>
						Respond to your questions and concerns
					</li>
					
					<li>
						Enhance the services' quality
					</li>
				</ul>

				<em>Marketing Communications</em>
				<p>
					You may choose to stop receiving our newsletter or marketing emails by sending an email to <a href="mailto:clement@unishared.com" style="cursor:pointer">clement@unishared.com</a>
				</p>

			</div>
			<div class="clear40"></div>

			<!--Sharing section -->
			<div id="Sharing">

				<div class="policyHeader2">
					<h2>Disclosure to Third Parties</h2>
				</div>
				<p>
					We will share your personal information with third parties only in
					the ways that are described in this privacy statement. We do not sell
					your personal information to third parties.
				</p>

				<p>
					We may also disclose your personal information
				</p>
				<ul>
					<li>
						as required by law such as to comply with a subpoena, or similar
						legal process
					</li>
					<li>
						when we believe in good faith that disclosure is necessary to
						protect our rights, protect your safety or the safety of others,
						investigate fraud, or respond to a government request,
					</li>
					<li>
						if UniShared.com is involved in a merger, acquisition, or
						sale of all or a portion of its assets, you will be notified via email
						and/or a prominent notice on our Web site of any change in ownership or
						uses of your personal information, as well as any choices you may have
						regarding your personal information,
					</li>
					<li>
						to any other third party with your prior consent to do so.
					</li>
				</ul>
			</div>
			<div class="clear40"></div>

			<!-- Tracking section -->
			<div id="Tracking">
				<h2>Tracking Technologies</h2>

				<em>Cookies</em>
				<p>
					We may use cookies to keep track of your preferences
					and profile information. Cookies are also used to collect general usage
					and volume statistical information that does not include personal
					information.
				</p>
				<br>

				<!-- Google Analytics -->
				<em>Google Analytics</em>
				<p>
					We use a third party to gather information about how you and others
					use our Web site.
					For example, we will know how many users access a specific page and
					which links they clicked on. We use this aggregated information to
					understand and optimize how our site is used.
				</p>
				<br>

				<!-- Links -->

				<em>Links to Other Web Sites</em>
				<p>
					Our Site includes links to other Web sites whose privacy practices
					may differ from those of UniShared.com.
					Encourage you to carefully read the privacy statement of any Web site you visit.
				</p>
				<!--
				<em>Ad Serving</em>
				<p>
					This site allows third parties like ad networks to serve advertisements. Some ads include tracking technologies which aggregate information about your
					behavior on this and other site.
				</p>
				<br>
				
				<p>
					Interest-based ads are selected for you according to your interests
					as determined by companies such as ad networks and data aggregators.
					These companies collect information about your online activity and
					use it to show you ads tailored to your interests.
				</p>
				-->
			</div>
			<div class="clear40"></div>

			<!-- begin Security section -->

			<div id="Security">
				<div class="policyHeader2">
					<h2>Security</h2>
				</div>
				<!-- {Note - Security Disclosure 3 -> Company uses its own shopping cart but also offers third party payment options } -->
				<p>
					The security of your personal information is important to us. We
					follow generally accepted industry standards to protect the personal
					information submitted to us, both during transmission and once we
					receive it.
					No method of transmission over the Internet, or method of electronic
					storage, is 100% secure, however.  Therefore, we cannot guarantee its
					absolute security.
					If you have any questions about security on our Web site, you can
					contact us at <a href="mailto:clement@unishared.com" style="cursor:pointer">clement@unishared.com</a>
				</p>
			</div>
			<div class="clear40"></div>

			<!-- Other Info section-->

			<div id="otherInfo">
				<h2>Other Information</h2>

				<strong>Correcting and Updating Your Personal Information</strong>
				<p>
					To review and update your personal information to ensure it is
					accurate, contact us at <a href="mailto:clement@unishared.com" style="cursor:pointer">clement@unishared.com</a>.
				</p>

				<br>
				<strong>Notification of Privacy Statement Changes</strong>
				<p>
					We may update this privacy statement to reflect changes to our
					information practices.
					If we make any material changes we will notify you by email (sent to the
					e-mail address specified in your account) or by means of a notice on
					this Site prior to the change becoming effective.
					We encourage you to periodically review this page for the latest
					information on our privacy practices.
					If you have read us until there, we would like to greet you and thank you for your obstination ! 
					You can claim a free cookie or a drink by sending an email at adrien@unishared.com.
				</p>

			</div>
			<div class="clear40"></div>

			<!-- Feedback section-->

			<div id="Feedback">
				<div class="policyHeader2">
					<h2>Feedback</h2>
				</div>

				<p>
					You can contact us about this privacy statement by writing or email
					us at the address below:
				</p>
				<div class="vcard">
					<div class="fn org">
						UniShared
					</div>
					<div class="adr">
						<div class="street-address">
							84, avenue de la république
						</div>
						<div>
							<span class="locality">Paris</span>, <span class="postal-code">75011</span>
						</div>
					</div>
					<div>
						Email: <span class="email"><a href="mailto:clement@unishared.com" style="cursor:pointer">clement@unishared.com</a></span>
					</div>

				</div>
				<div class="clear20"></div>

			</div>

		</div>

	</div>
</div>
{% endblock %}
