.search-panel {
  display: inline-block;

  .btn {
    margin-bottom: 10px;
  }

  .search-results {
    .search-results-items {
      .ui-autocomplete {
        position: static;
      }

      .ui-widget-content {
        background: none;
        border: none;
      }
    }
  }
}